$mainBackground: #232323;
$mainBackgroundOpacity: #232323f1;
$mainBackgroundOdd: #131212;
$mainBackgroundOddOpacity: #131212c0;
$mainBackgroundEven: #272727;
$mainBackgroundEvenOpacity: #272727dc;
$secondaryBackground: #444444;
$mainColor: white;
$progressColor: #e40808;
$progressBorder: rgb(238, 115, 115);
$loaderColor: #bcbcbc;

// $mainBackground: white;
// $mainBackgroundOpacity: #ffffffd3;
// $mainBackgroundOdd: #e4e4e4;
// $mainBackgroundOddOpacity: white;
// $mainBackgroundEven: white;
// $mainBackgroundEvenOpacity: white;
// $secondaryBackground: #888;
// $mainColor: #242424;
// $progressColor: #e40808;
// $progressBorder: rgb(238, 115, 115);

// $loaderColor: #bcbcbc;
